/* Unverisal Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-image: url("../images/Background-Image.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

/* Header Styles */
.header {
  text-align: center;
}

#logo {
  font-family: "Monoton";
  font-size: 100px;
}

#logo-style {
  font-family: "Pacifico";
  font-size:50px;
}

/* Main Styles */
.main {
  border-style: double;
  border-width: 10px;
}

.game-image{
  width: 100%;
  height: auto;
  margin: 5px 0px;  
}

.game-col{
  border-left: 5px white solid;
  text-align: center;
   margin: 5px 0px;
}

.game h5{
  line-height: 2;
}

.game-band-info h3{
  font-size: 24px;
  margin-top: 10px;
}


/* Media Queries */
@media screen and (max-width: 768px) {
  #logo {
    font-size: 80px;
  }

  #logo-style{
    font-size:30px;
  }

    .game-col {
      border-left: none;
       border-top: 5px white solid;
    }
}

@media screen and (max-width: 640px) {
  #logo {
    font-size: 50px;
  }

    .game-col {
      border-left: none;
      border-top: 5px white solid;
    }
}